* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #282c34;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "board half";
}

.board {
    grid-area: board;
    padding: 5%;
}

.half {
    grid-area: half;
}

.half button {
    margin: 10px;
    padding: 24px 48px 24px 48px;
    font-size: 24px;
}

#alert {
    color: red;
    font-size: 36px;
}

#title {
    color: white;
}

.center {
    text-align: center;
    width: 350px;
}

.info {
    color: white;
    text-align: center;
    max-width: 350px;
}
